<app-navbar></app-navbar>
<div class="container-global">
  <div class="container card-view">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let post of posts">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{post.imageUrl}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <a (click)="goToPost(post.id)"><h5 class="card-title">{{post.title}}</h5></a>
                <p class="card-text">{{post.shortContent}}</p>
                <p class="card-text"><small class="text-muted">{{post.date}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  
</div>

